<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suit for TMDB and GUI automation testing" verbose="1" >
    <test name="test" parallel="methods" thread-count="4">
        <parameter name="typedriver" value="CHROME"/>
        <classes>
            <class name="Tests.UITestRunner" >
            </class>
        </classes>
    </test>
</suite>